$sizeWidthDefaultContainer: 1310px;
$sizeWidthDefault: 1920px;

$sizeWidthPadContainer: 720px;
$sizeWidthPad: 974px;

$sizeWidthPhoneContainer: 300px;
$sizeWidthPhone: 320px;

$colorBg: #F6F3F3;
$colorFooterBg: #ECEAEA;
$primaryText: #343030;
$secondaryText: #FFF;
$strikethroughText: #A0A0A0;
$buttonNormal: #403432;
$buttonHover: #776763;
$buttonDisabled: #C1B4B1;
$buttonInCart: #5B3A32;
$colorBorderInactive: #E1E1E1;
$colorBorderActive: #B5B5B5;
$buttonTextColor: #F4F6F9;

$font-family: "Merriweather", serif;
